[Unit]
Description=gitci system
Requires=docker.service
After=docker.service

[Service]
Restart=always
WorkingDirectory=/opt/gitci
ExecStart=/usr/local/bin/docker-compose up
ExecStop=/usr/local/bin/docker-compose stop

[Install]
WantedBy=default.target